{namespace v=FluidTYPO3\Vhs\ViewHelpers} 
{namespace rs=RedSeadog\Rsrq\ViewHelpers}

<f:comment>
    EXT:rsrq/Resources/Private/Templates/Cud/DeleteForm.html
    <f:debug>{_all}</f:debug>
</f:comment>

<div class="container">
    <div id="{flexformdata.div_id}">
        <f:form id="{flexformdata.div_id}_form" name="{flexformdata.div_id}_form" enctype="multipart/form-data" method="post" action="delete" arguments="{linkValue: '{linkValue}'}">
            <div class="rsrq_description">{flexformdata.caption} verwijderen</div>
            <div class="rsrq_block">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tbody>
                            <f:for each="{columnNames}" as="columnName">
                                <tr>
                                    <td>
                                        <span class="label">
                                            <f:if condition="{columnName.nodisplay} != '1'">
                                                <label for="{columnName.name}">
                                                    <f:translate id="{columnName.name}" key="{columnName.name}" default="{columnName.name}" />
                                                </label>
                                            </f:if>
                                        </span>
                                    </td>
                                    <td>
                                        <f:render partial="Fieldtypes/Display/{columnName.type}" arguments="{_all}" />
                                    </td>
                                </tr>
                            </f:for>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="rsrq_block">
                <f:link.page class="btn btn-warning" pageUid="		{flexformdata.redirectPage}">Terug</f:link.page>
                <f:form.submit class="btn btn-primary" value="Verwijderen" />
            </div>
        </f:form>
    </div>
</div>
