<h3>
  Welkom op de childPage partial
</h3>

De uid van dit object is: {cObject.uid} <br/>
De linkvalue naar deze List is: {rsrq_names.linkValue}  <br/>

<button onclick="sum('Uitgaven')" type="button" class="btn btn-primary">Totaal</button>
<button onclick="sum('Bedrag')" type="button" class="btn btn-primary">Relatie</button>
Totale uitgaven (op deze pagina) zijn: € <b><span id="Uitkomst"> </span></b>
<br/>




<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>