{namespace rs=RedSeadog\Wfqbe\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:comment>
    Partial Pagination
    <h5>Page {pageInfo.currentPageNumber} of {pageInfo.numberOfPages}.</h5>
    <h5>{pageInfo.rowsPerPage} items per page, {pageInfo.totalAmountOfRows} items total</h5>
  <f:debug>{_all}</f:debug>
</f:comment>


<f:variable name="rsrq_newnames" value="<rs:prependString array='{rsrq_names}' string='RSRQ_' />" />

<f:variable name="args" value="<rs:arrayMerge array1='{rsrq_newnames}' array2='{pageNo: \'1\'}'/>" />
<f:link.action arguments="{args}"><span class="badge badge-pill badge-primary">First</span> </f:link.action>

<f:variable name="argsPrev" value="<rs:arrayMerge array1='{rsrq_newnames}' array2='{pageNo: \'{pageInfo.prevPage}\'}'/>" />
<f:link.action arguments="{argsPrev}"><span class="badge badge-pill badge-primary">Prev</span> </f:link.action>

<v:iterator.loop count="{pageInfo.numberOfPages}" iteration="iteration">
    <f:variable name="args" value="<rs:arrayMerge array1='{rsrq_newnames}' array2='{pageNo: \'{iteration.cycle}\'}'/>" />
	
  	<f:if condition="{iteration.cycle}=={pageInfo.currentPageNumber}">
        <f:then>
            <f:variable name="Bingo" value="Red" />
        </f:then>
        <f:else>
      		<f:variable name="Bingo" value="Blue" />
      	</f:else>
    </f:if>
  
	<f:if condition="{pageInfo.slidingPages}==0 || {iteration.isFirst} || {iteration.isLast}">
    <f:then>
        <f:link.action arguments="{args}"><span class="{Bingo} badge badge-pill badge-info">{iteration.cycle}</span></f:link.action>
	</f:then>
    <f:else>
        <f:if condition="{iteration.cycle}=={pageInfo.fromMinusOne} || {iteration.cycle}=={pageInfo.toPlusOne}">
        <f:then>...</f:then>
        <f:else>
            <f:if condition="{iteration.cycle} > {pageInfo.fromMinusOne} && {iteration.cycle} < {pageInfo.toPlusOne}" >
                <f:link.action arguments="{args}"><span class="{Bingo} badge badge-pill badge-info">{iteration.cycle}</span></f:link.action> 
            </f:if>
        </f:else>
        </f:if>
    </f:else> 
    </f:if>
    
</v:iterator.loop>

<f:variable name="argsNext" value="<rs:arrayMerge array1='{rsrq_newnames}' array2='{pageNo: \'{pageInfo.nextPage}\'}'/>" />
<f:link.action arguments="{argsNext}"><span class="badge badge-pill badge-primary">Next</span> </f:link.action>
<f:link.action arguments="{args}"><span class="badge badge-pill badge-primary"> Last</span></f:link.action>

<br />
<br />
