table.rsrq_table_results{
border: solid 1px black; 
margin:1em;
border-collapse:collapse;
width: 100%;
}
.rsrq_table_results th {border: solid 0.06em black; 
			padding: 0.2em;
			background-color: #AAAAAA;
    }
.rsrq_table_results td {border: solid 0.06em black;
          padding: 0.35em; 
		  text-align:center;
    }			
caption{
caption-side:bottom;
/*color:#FF0000;*/
}

.rsrq_odd{
background-color:#FFFFFF;
}

.rsrq_even{
background-color:#EEEEEE;
}
